/* // General styles */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
  background-color: mintcream;
}

h1,
h2 {
  margin-bottom: 0.5em;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 120%;
}

p {
  line-height: 1.39;
  max-width: 45em;
  margin: 0 auto 1em;
}

code {
  font-size-adjust: 0.585;
 
}

main {
  min-width: 63em;
  max-width: 75em;
  margin: 0 auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

section > div {
  flex: 1 0 15em;
  padding: 1em;
  border: 1px solid;
  width: 25%;
  box-sizing: border-box;
}

.container {
  position: relative;
  border: 1px dotted;
}

@supports (grid-template-columns: subgrid) {
  section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-template-rows: repeat(4, auto);
    align-content: start;
  }

  section > div {
    width: initial;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: subgrid;
  }
}

.box {
  height: 100px;
  width: 100px;
  opacity: 0.75;
  border: 2px solid blue;
  background-color: dodgerblue;
  display: flex;
  text-align: center;
}

span {
  margin: auto;
}

.positioned {
  border: 2px solid green;
  background-color: limegreen;
}

.relative .positioned {
  position: relative;
  top: 2em;
  left: 2em;
}

.absolute .positioned {
  position: absolute;
  right: 0;
}

.fixed .positioned {
  position: fixed;
  top: 0;
  right: 0;
}

/* // Example specific styles (Level 3) */
.top .container,
.bottom .container {
  height: 200px;
  overflow-y: scroll;
}

.top .positioned {
  position: sticky;
  top: 1em;
}

.bottom .positioned {
  position: sticky;
  bottom: 1em;
}

.left .container,
.right .container {
  overflow-x: scroll;
}

.scroll-wrap {
  width: 600px;
  display: flex;
}

.left .positioned {
  position: sticky;
  left: 1em;
}

.right .positioned {
  position: sticky;
  right: 1em;
}

/* // Logical offsets examples */
/* .logical-offsets::before {
  content: "Your browser does not support the syntax currently used in this demo";
  position: absolute;
  padding: 1em;
  background-color: lightpink;
  border: 2px solid red;
} */

/* .logical-offsets > div > div {
  height: 20em;
  width: 100%;
}

.logical {
  position: relative;
  block-size: 25%;
  border: 1px dotted;
}

.logical::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: monospace;
  font-size: 125%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
}

.ltr::before {
  content: "direction: ltr";
}

.rtl::before {
  content: "direction: rtl";
}

.rtl {
  direction: rtl;
}

.vertical-rl > div {
  writing-mode: vertical-rl;
}

.vertical-lr > div {
  writing-mode: vertical-lr;
}

@supports (inset-inline-start: 0) {
  .logical-offsets::before {
    display: none;
  }

  .logical {
    span {
      position: absolute;
      padding: 0.5em;
    }

    .ib {
      inset-block-start: 0;
      background-color: limegreen;
    }

    .is {
      inset-inline-start: 0;
      background-color: dodgerblue;
    }

    .ia {
      inset-block-end: 0;
      background-color: gold;
    }

    .ie {
      inset-inline-end: 0;
      background-color: coral;
    }
  }
} */
